@use "mixins";
@use "variables";

* {
  font-family: "Merriweather Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $bg-color;

  a {
    color: variables.$text-color;
    text-decoration: none;
    transition: 0.2s;
  }

  ul {
    list-style: none;
  }

  .header {
    @include mixins.flex-center;
    justify-content: space-between;
    @include mixins.container;

    &-tittle {
      img {
        width: 250px;
      }
    }

    &-div {
      @include mixins.flex-center;
      justify-content: space-between;

      &-navbar {
        @include mixins.flex-center;
      }
    }
  }

  .home {
    @include mixins.container;
    @include mixins.flex-center;
    justify-content: space-between;

    &-img {
      width: 50rem;
      cursor: pointer;
      box-shadow: 25px 25px 12px 0px rgba(0, 0, 0, 0.1);
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &-texto {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }

      &-btn {
        @include mixins.btn;
        padding: 1rem 3.5rem;

        &:hover {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
        }
      }
    }
  }
}
