@use "./mixins";
@use "./variables";

* {
  font-family: "Merriweather Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: variables.$bg-color;

  a {
    color: variables.$text-color;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .header {
    @include mixins.container;
    @include mixins.flex-center;
    justify-content: flex-end;

    &-logo {
      margin-right: auto;
      width: 250px;
    }

    &-navbar {
      ul {
        @include mixins.flex-center;
        justify-content: space-between;

        li {
          padding: 15px;

          a {
            text-transform: uppercase;
          }

          a:hover {
            color: variables.$secondary-color;
          }
        }
      }
    }

    &-btn {
      @include mixins.btn;
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
      margin-left: 25px;
      transition: 0.4s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .home {
    @include mixins.container;
    @include mixins.flex-center;
    justify-content: space-between;

    &-img {
      width: 55rem;
      cursor: pointer;
      box-shadow: 25px 25px 12px 0px rgba(0, 0, 0, 0.1);
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &-texto {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }

      &-btn {
        @include mixins.btn;
        padding: 1rem 2.5rem;
        transition: 0.4s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
