@use "./mixins";
@use "./variables";

* {
  font-family: "Merriweather Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: variables.$bg-color;

  a {
    color: variables.$text-color;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .header {
    @include mixins.container;
    @include mixins.flex-center;
    justify-content: flex-end;

    &-logo {
      margin-right: auto;
      width: 250px;
    }

    &-navbar {
      ul {
        @include mixins.flex-center;
        justify-content: space-between;

        li {
          padding: 15px;

          a {
            text-transform: uppercase;
          }

          a:hover {
            color: variables.$secondary-color;
          }
        }
      }
    }

    &-btn {
      @include mixins.btn;
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
      margin-left: 25px;
      transition: 0.4s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .home {
    @include mixins.container;
    @include mixins.flex-center;
    justify-content: space-between;

    &-img {
      width: 55rem;
      cursor: pointer;
      @include mixins.shadow;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &-texto {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }

      &-btn {
        @include mixins.btn;
        padding: 1rem 2.5rem;
        transition: 0.4s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .noticias {
    @include mixins.flex-center;
    flex-direction: column;
    padding-bottom: 30px;

    &-titulo {
      text-transform: uppercase;
      padding-bottom: 20px;
    }

    &-row {
      display: flex;
      gap: 35px;

      &-div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        align-content: flex-start;

        img {
          width: 450px;
          @include mixins.shadow;
        }

        a {
          font-size: 1.5rem;
          font-weight: bold;
          padding-top: 25px;
          line-height: 35px;
        }
      }

      &-lista {
        background-color: #dbdbdb;

        ul {
          padding-top: 60px;

          li {
            padding: 0 25px 25px 25px;
          }
        }

        a {
          font-weight: bold;
          padding: 0 0 10px 25px;
          cursor: pointer;

          &:hover {
            color: variables.$secondary-color;
          }
        }
      }
    }
  }
}
